@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --accent-color: #de4c4a;
    --sidebar-color: #262626;
    --body-color: #1e1e1e;
    --light-gray: #4a4a4a;
    --lighter-gray: #8f8f8f;
  }

/* ----------main style ----------*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--body-color);
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  
  #app {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 300px;
    padding: 12px;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    box-sizing: border-box;
  }
  
  #header{
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex: 0 1 auto;
  }
  
  .buttonDiv {
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    width: 100%;
    flex: 1 1 auto;
    
  }
  .button-wrapper{
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
  }
  .button-wrapper:hover {
    background-color: #322f2a;
  }
  .button-icon{
    width: 25px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .icon{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
    width: 25px;
    padding: 10px;
  }
  #header-right > div{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  #header-right > div:hover{
    background-color: #322f2a;
  }
  #add-task{
    color: var(--accent-color);
    font-weight: bold;
  }

  #add-task > img {
    filter: none;
  }

  .main{
    width: 100%;
  }

  .debug{
    justify-self: flex-end;
    flex: 0 1 auto;
    padding: 20px;
  }
  /*--------today styling------- */
  .task-btn{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
  }
  .task-btn > img{
    width: 30px;
  }
  .task-btn > p{
    color: var(--lighter-gray);
    flex:1;
    text-align: left;
    margin-left: 15px;
  }
  .task-btn > p:hover{
    color: var(--accent-color);
  }
  .task-btn:hover{
    color: var(--accent-color);
  }

  #todayContent{
    display: flex;
    justify-content: center;
  }
 
  .today-container{
    width: 60%;
    max-width: 900px;
    margin: 50px;
  }
  #today-div{
    margin-bottom: ;
  }
  .task-btn:hover > img {
    content: url('./icons/add-task.svg'); 
}
  /*----form styling ------*/
  .form-div{
    border: 2px solid var(--light-gray);
    padding: 10px;
    border-radius: 10px;
    min-width: 530px;
    margin-top: 30px;
  }

  .form-div> form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
  }

  #other-details{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 2px solid var(--light-gray);
  }

#priorities-div{
  display: flex;
  align-items: center;
}

#priorities-div > div {
  display: flex;
  padding: 10px;
  border: 2px solid var(--light-gray);
  border-radius: 10px;
  margin-right: 10px;
}
.form-div form input,
.form-div form label {
    background-color: transparent;
    border: none;
}

.form-div form input[type="radio"] {
    background-color: transparent;
    border: none;
}

.form-div form input[type="date"] {
    background-color: transparent;
    border: none;
}
.flatpickr-calendar {
  background-color: var(--sidebar-color);
  border: none;
  color: white;
}
.flatpickr-calendar .flatpickr-day {
  color: white; 
}
.flatpickr-day.today {
  background-color: var(--light-gray); 
}

.flatpickr-day.selected {
  background-color: var(--accent-color);
}

.flatpickr-calendar .flatpickr-current-month {
  color: white; 
}

.flatpickr-calendar .flatpickr-day.prevMonthDay {
  color: var(--light-gray);
}

.flatpickr-calendar .flatpickr-weekday {
  color: white;
}

.flatpickr-calendar .flatpickr-day.past {
  color: var(--light-gray) 
}
.flatpickr-calendar .flatpickr-day.today {
  color: var(--accent-color); 
}
.flatpickr-calendar .flatpickr-day.today.selected {
  color: var(--sidebar-color);
}

#task-name::-webkit-input-placeholder {
  font-weight: bold;
}
#task-name{
  color: white;
  font-weight: bold;
}
#description{
  font-weight: normal;
  color: white;
}
#flatpickr-div {
  color: var(--accent-color) !important;
  font-weight: bold; 
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  border: 2px solid var(--light-gray) !important;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
#flatpickr-div:hover{
  background-color: var(--light-gray);
}

.form-control{
  cursor: pointer;
  color: var(--accent-color);
}

input[type="text"]:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

input[type="text"]{
  margin-bottom: 5px;
}

.singlePriority input[type="radio"] {
  display: none; 
}

.singlePriority:hover{
  background-color: var(--light-gray);
}
.singlePriority  {
  cursor: pointer;
}

.singlePriority *  {
  cursor: pointer;
}

.singlePriority.checked {
  color: var(--body-color);
  
}

.singlePriority.checked * {
  color: var(--body-color);
}
#priorities-div > *:nth-child(3){
  border-color: rgb(61, 150, 61);
  
}
#priorities-div > *:nth-child(3).checked{
  background-color: rgb(61, 150, 61);
}
#priorities-div > *:nth-child(2){
  border-color: rgb(179, 167, 63);
  
}
#priorities-div > *:nth-child(2).checked{
  background-color: rgb(179, 167, 63);
}
#priorities-div > *:nth-child(1){
  border-color: var(--accent-color);
  
}
#priorities-div > *:nth-child(1).checked{
  background-color: var(--accent-color);
}


.submitForm{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.submit-button{
  background-color: #4c2827;
  color: var(--lighter-gray);
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.cancel{
  background-color: #2b2b2b;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
}
.cancel:hover{
  background-color: #3d3d3d;
}

.button-active{
  background-color: var(--accent-color);
  color: white;
}

/* --- task styling */

.task{
  display: flex;
  align-items: center;
}

.priority-button-check{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid;
  
}
.prioritybutton-1{
  border-color: var(--accent-color);
  background-color: rgba(222, 76, 74, 0.2);
}
.prioritybutton-1:hover{
  background-color: var(--accent-color);
}
.prioritybutton-2{
  border-color: rgb(179, 167, 63);
  background-color: rgb(179, 167, 63, 0.2);
}
.prioritybutton-2:hover{
  background-color: rgb(179, 167, 63);
}

.prioritybutton-3{
  border-color: rgb(61, 150, 61);
  background-color: rgb(61, 150, 61, 0.2);
}
.prioritybutton-3:hover{
  background-color: rgb(61, 150, 61);
}
.task-displaycontent{
  padding: 10px;
  padding-left: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word; 
  white-space: normal; 
}

#prioritycontainer-1,
#prioritycontainer-2 {
  border-bottom: none; 
}

.border-visible {
  border-bottom: 2px solid var(--light-gray) !important; 
}

/*----upcoming styling ------------*/
#upcomingContent{
  display: flex;
  justify-content: center;
}
#upcoming-div{
  width: 70%;
  
  margin: 50px;
}

.top{
  border-bottom: 2px solid var(--light-gray);
  color: var(--lighter-gray);
  padding: 10px;
  padding-left: 0px;
}
.today-upcoming{
  color: white;
}