@import url('reset.css');

:root {
    --accent-color: #de4c4a;
    --sidebar-color: #262626;
    --body-color: #1e1e1e;
    --light-gray: #4a4a4a;
    --lighter-gray: #8f8f8f;
  }

/* ----------main style ----------*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--body-color);
    color: white;
  }
  
  #app {
    display: flex;
  }
  
  .sidebar {
    width: 300px;
    padding: 12px;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
  }
  
  #header{
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .buttonDiv {
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    width: 100%;
    height: 34px;
  }
  .button-wrapper{
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
  }
  .button-wrapper:hover {
    background-color: #322f2a;
  }
  .button-icon{
    width: 25px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .icon{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
    width: 25px;
    padding: 10px;
  }
  #header-right > div{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  #header-right > div:hover{
    background-color: #322f2a;
  }
  #add-task{
    color: var(--accent-color);
    font-weight: bold;
  }

  #add-task > img {
    filter: none;
  }

  .main{
    width: 100%;
  }
  /*--------today styling------- */
  .task-btn{
    display: flex;
    width: 100%;
    align-items: center;
  }
  .task-btn > img{
    width: 50px;
  }

  #todayContent{
    margin: 40px;
    display: flex;
    justify-content: center;
  }

  .today-container{
    min-width: 800px;
  }
  /*----form styling ------*/
  .form-div{
    border: 2px solid var(--light-gray);
    padding: 10px;
    border-radius: 10px;
  }

  .form-div> form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
  }

  #other-details{
    display: flex;
    justify-content: space-between;
  }

#priorities-div{
  display: flex;
  align-items: center;
}

#priorities-div > div {
  display: flex;
  padding: 10px;
  border: 2px solid var(--light-gray);
  border-radius: 10px;
  margin-right: 10px;
}
.form-div form input,
.form-div form label {
    background-color: transparent;
    border: none;
    color: var(--lighter-gray);
}

.form-div form input[type="radio"] {
    background-color: transparent;
    border: none;
}

.form-div form input[type="date"] {
    background-color: transparent;
    border: none;
}
.flatpickr-calendar {
  background-color: var(--sidebar-color);
  border: none;
  color: white;
}
.flatpickr-calendar .flatpickr-day {
  color: white; 
}
.flatpickr-day.today {
  background-color: var(--light-gray); 
}

.flatpickr-day.selected {
  background-color: var(--accent-color);
}

.flatpickr-calendar .flatpickr-current-month {
  color: white; 
}

.flatpickr-calendar .flatpickr-day.prevMonthDay {
  color: var(--light-gray);
}

.flatpickr-calendar .flatpickr-weekday {
  color: white;
}

.flatpickr-calendar .flatpickr-day.past {
  color: var(--light-gray) 
}
.flatpickr-calendar .flatpickr-day.today {
  color: var(--accent-color); 
}
.flatpickr-calendar .flatpickr-day.today.selected {
  color: var(--sidebar-color);
}

#task-name::-webkit-input-placeholder {
  font-weight: bold;
}

.form-control {
  color: var(--accent-color) !important;
  font-weight: bold; 
  border: 2px solid var(--light-gray) !important;
  border-radius: 10px;
  padding: 10px;
  width: 50px;
  cursor: pointer;
}
.form-control:hover{
  background-color: var(--light-gray);
}

input[type="text"]:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

input[type="text"]{
  margin-bottom: 5px;
}

.singlePriority input[type="radio"] {
  display: none;
}

.singlePriority:hover{
  background-color: var(--light-gray);
}
.singlePriority  {
  cursor: pointer;
}

.singlePriority *  {
  cursor: pointer;
}